<div class="beforefooter">
    <div class="box">
        <div class="logo">Meromi Beauty Salon</div>
        <div class="bf-text">AnmolKeCode</div>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsam sit magni et consequatur.</p>
        <div class="bf-text">Subscribe For Offers</div>
        <div class="subscribe">
            <input type="text" name="" id="">
            <button class="btn">Subscribe</button>
        </div>
    </div>
    <div class="box">
        <div class="bf-text">Quick Links</div>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('services') }}">Services</a></li>
            <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
        <div class="bf-text">Follow Us</div>
        <div class="icons">
            <a href="#" class="fa-brands fa-facebook-f"></a>
            <a href="#" class="fa-brands fa-google"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
        </div>
    </div>
    <div class="box">
        <div class="bf-text">Say Hi! </div>
        <ul class="SayHi">
            <li><a href="mailto:Meromi@.com">Meromi@.com</a></li>
        </ul>
        <div class="bf-text">Call Us</div>
        <ul class="SayHi">
            <li>Phone: +91 9585402007</li>
        </ul>
        <div class="bf-text">Find Us</div>
        <div class="address">Carmal Complex, 2nd Block Upstairs, Ranmanputhur, Nagercoil-625003</div>
    </div>
</div>
<footer>
    <div class="fbox">Copyright &copy; 2025 Meromi Beauty Salon</div>
    <div class="fbox">Powered By Meromi Beauty Salon</div>
</footer>
